datasets
huggingface-hub
keras==2.13.1
networkx
nltk==3.8.1
numpy==1.24.3
protobuf==4.24.4
task-adaptation==0.1
tfds-nightly==4.9.2.dev202308020032
tokenizers
torch
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.33.2
# bitsandbytes
# parallelformers
# pytorch-lightning
# GPUtil
# apt-get update
# RUN apt-get install git
# python3 -m pip install git+https://github.com/huggingface/transformers.git
# python3 -m pip install pip --upgrade
# python3 -m pip install evaluate pynvml bitsandbytes --upgrade
# install torch==1.10.0+cu113 torchvision==0.11.1+cu113 torchaudio==0.10.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
# install --upgrade pip
# pip install torch==1.7.1
